todo.txt
tensorboard/
tensorboard_hydra/
*.png
*.log
*.pyc
old/

# IDEs
.vscode
.idea
.ipynb_checkpoints


# code papers
MORL/
gp_pref_elicit/
PreferenceElicitation.jl
experiments/
minecart/

# saved agents
*.zip
runs_ols/
saved_agents/